<html>

<head>
    <title>

    </title>
</head>

<body>

    <section class="Delivery_tabs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">
                    <div class="prfoiles_section2">

                        <form id="productEditAdd" class="form_advanced_validation hidden add_product_page" action="/users/add/menu"
                            method="post">
                            <div class="row first_box mt-3">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Menu Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" value="" required>
                                        </div>
                                    </div>
                                </div>
<br>

                                
                                <div class="col-md-12 product_specification_container">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-5">
                                            <label>Menu Type</label>
                                            <div class="form-group">

                                               <select name="menu_type" required>
                                                    <option value="">please select menu type</option>
                                                    <option value="daal">daal</option>
                                                    
                                               </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                       <br>
                             
                                <div class="row">
                                    <label>Menu Category</label>
                                    <select name="category">
                                        <option value="">please select categpory</option>
                                        <option value="moong">moong dal
                                            
                                        </option>
                                        <option value="masoordal">masoor daal

                                        </option>

                                    </select>

                                </div>
                                <br>

                                <div class="row">
                                    <div class="row">
                                        <label>extra addition</label>
                                        <select name="feature">
                                            <option value="">please select option

                                            </option>
                                            <option value="with tarka">with tarka
                                                
                                            </option>
                                            <option value="without tarka">without tarka
    
                                            </option>
    
                                        </select>
    
                                    </div>
                                  
                                </div>
                                <br>
                               
                                <br>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Slug</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control"  name="slug" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit">Submit</button>
                               
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
    
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
 
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
</script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>






